= form_for @issue do |f|
  - if @issue.errors.any?
    #error_explanation
      %h2= "#{pluralize(@issue.errors.count, "error")} prohibited this issue from being saved:"
      %ul
        - @issue.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :customer_name
    = f.text_field :customer_name
  .field
    = f.label :customer_email
    = f.text_field :customer_email
  .field
    = f.label :department
    = f.text_field :department
  .field
    = f.label :subject
    = f.text_field :subject
  .field
    = f.label :body
    = f.text_area :body
  .field
    = f.label :code
    = f.text_field :code
  .field
    = f.label :state
    = f.text_field :state
  .field
    = f.label :manager
    = f.text_field :manager
  .actions
    = f.submit 'Save'
