%h1 Listing issues

%table
  %tr
    %th Customer name
    %th Customer email
    %th Department
    %th Subject
    %th Body
    %th Code
    %th State
    %th Manager
    %th
    %th
    %th

  - @issues.each do |issue|
    %tr
      %td= issue.customer_name
      %td= issue.customer_email
      %td= issue.department
      %td= issue.subject
      %td= issue.body
      %td= issue.code
      %td= issue.state
      %td= issue.manager.username if issue.manager
      %td= link_to 'Show', issue
      %td= link_to 'Edit', edit_issue_path(issue)
      %td= link_to 'Destroy', issue, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Issue', new_issue_path
