%p#notice= notice
%p
  %b Customer name:
  = @issue.customer_name
%p
  %b Customer email:
  = @issue.customer_email
%p
  %b Department:
  = @issue.department
%p
  %b Subject:
  = @issue.subject
%p
  %b Body:
  = @issue.body
%p
  %b Code:
  = @issue.code
%p
  %b State:
  = string_state(@issue.state)
%p
  %b Manager:
  = @issue.manager.username
- if current_manager
  = link_to 'Take', take_issue_path(@issue), :method => :put
  =render '/comments/comment_form'

- @issue.comments.each do |com|
  %p
    = com.body
= link_to 'Edit', edit_issue_path(@issue)
\|
= link_to 'Back', issues_path
