!!!
%html
  %head
    %title "HAML'd"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    - if current_manager
      = link_to("Logout", logout_path)
    - else
      = link_to("Login", login_path)
    = form_tag search_issues_path, method: 'get' do
      = text_field_tag :query, params[:query]
      = submit_tag "Search"
    - flash.each do |name, msg|
      - if msg.is_a?(String)
        = content_tag :div, msg, :id => "flash_#{name}"
    = yield